.line-charts-container {
   display: flex;
    flex: 6;
    margin: 1rem;
    box-shadow: 2px 4px 10px 1px rgba(201, 201, 201, 0.3);
    -webkit-box-shadow: 2px 4px 10px 1px rgba(201, 201, 201, 0.3);
    -moz-box-shadow: 2px 4px 10px 1px rgba(201, 201, 201, 0.3);
    border-radius: 0.5rem;
    padding: 0.75rem;
    
  
 }
 