.single {
   display: flex;
   width: 100%;
   .single-container {
      flex: 6;

      .top {
         padding: 1.25rem;
         display: flex;
         gap: 1.25rem;

         .left {
            flex: 1;
            box-shadow: 2px 4px 10px 1px rgba(201, 201, 201, 0.3);
            -webkit-box-shadow: 2px 4px 10px 1px rgba(201, 201, 201, 0.3);
            -moz-box-shadow: 2px 4px 10px 1px rgba(201, 201, 201, 0.3);
            border-radius: 0.5rem;
            padding: 1.25rem;
            position: relative;

            .editButton {
               position: absolute;
               top: 0;
               right: 0;
               padding: 0.75rem;
               font-size: 14px;
               color: rgb(43, 52, 226);
               background-color: rgba(43, 52, 226, 0.1);
               border-bottom-left-radius: 0.5rem;
               border-top-right-radius: 0.5rem;
               cursor: pointer;
            }
            .item {
               display: flex;
               gap: 1.25rem;
               .item-img {
                  max-width: 100px;
                  max-height: 100px;
                  border-radius: 50%;
                  object-fit: cover;
               }
               .details {
                  .full-name {
                     margin-bottom: 10px;
                     color: gray;
                  }
                  .detail-item {
                     margin-bottom: 5px;
                     font-size: 14px;
                     .item-key {
                        font-weight: bold;
                        color: rgb(31, 31, 31);
                        margin-right: 5px;
                     }
                     .item-value {
                        font-weight: 300;
                        color: rgb(82, 81, 81);
                     }
                  }
               }
            }
         }
         .right {
            flex: 2;
            // box-shadow: 2px 4px 10px 1px rgba(201, 201, 201, 0.3);
            // -webkit-box-shadow: 2px 4px 10px 1px rgba(201, 201, 201, 0.3);
            // -moz-box-shadow: 2px 4px 10px 1px rgba(201, 201, 201, 0.3);
            // border-radius: 0.5rem;
            // padding: 1.25rem;
         }
      }
      .bottom {
         margin: 20px;
         box-shadow: 2px 4px 10px 1px rgba(201, 201, 201, 0.3);
         -webkit-box-shadow: 2px 4px 10px 1px rgba(201, 201, 201, 0.3);
         -moz-box-shadow: 2px 4px 10px 1px rgba(201, 201, 201, 0.3);
         border-radius: 0.5rem;
         padding: 1.25rem;
         margin: 1.25rem;
      }
   }
   .title {
      color: lightgray;
      font-size: 1rem;
      margin-bottom: 12px;
   }
}
