.featured {
   flex: 2;
   box-shadow: 2px 4px 10px 1px rgba(201, 201, 201, 0.3);
   -webkit-box-shadow: 2px 4px 10px 1px rgba(201, 201, 201, 0.3);
   -moz-box-shadow: 2px 4px 10px 1px rgba(201, 201, 201, 0.3);
   border-radius: 0.5rem;
   padding: 0.75rem;

   .top {
      display: flex;
      align-items: center;
      justify-content: space-between;
      color: rgb(79, 79, 79);
      .title {
         font-size: 1rem;
         font-weight: 500;
      }
   }

   .bottom {
      padding: 1rem;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      gap: 1rem;

      .featured-chart {
         width: 100px;
         height: 100px;
      }
      .chart_title {
         font-weight: 500;
         color: rgb(85, 85, 85);
      }
      .amount {
         font-size: 2rem;
         color: rgb(74, 74, 74);
      }
      .desc {
         font-weight: 300;
         color: rgb(145, 145, 145);
         font-size: 0.875rem;
      }

      .summary {
         width: 100%;
         display: flex;
         align-items: center;
         justify-content: space-between;
         .summary-item {
            text-align: center;
            .item-title {
               font-size: 0.875rem;
               color: rgb(145, 145, 145);
            }
            .item-result {
               display: flex;
               align-items: center;
               margin-top: 0.625rem;
               font-size: 0.875rem;

               &.positive {
                  color: rgb(40, 138, 40);
               }
               &.negative {
                  color: rgb(216, 43, 27);
               }
            }
         }
      }
   }
}
