.navbar {
   height: 52px;
   border-bottom: 2px solid rgb(224, 224, 224);
   display: flex;
   align-items: center;
   font-size: 0.875rem;
   color: rgb(79, 79, 79);
   .wrapper {
      width: 100%;
      display: flex;
      padding: 0 1rem;
      align-items: center;
      justify-content: space-between;

      .search {
         display: flex;
         align-items: center;
         border: 0.5px solid rgb(224, 224, 224);
         border-radius: 0.75rem;
         padding: 0.313rem;
         .search__icon {
            color: rgb(203, 203, 203);
         }

         input {
            border: none;
            outline: none;
            background-color: transparent;

            &::placeholder {
               font-size: 0.75rem;
               color: rgb(203, 203, 203);
            }
         }
      }

      .items {
         display: flex;
         align-items: center;
         .item {
            display: flex;
            align-items: center;
            margin-right: 1.25rem;
            position: relative;
            cursor: pointer;

            .icon {
               font-size: 1.5rem;
            }
            .avatar {
               width: 1.875rem;
               height: 1.875rem;
               border-radius: 50%;
               object-fit: cover;
            }
            .notification_counter {
               width: 1rem;
               height: 1rem;
               background-color: rgb(252, 67, 67);
               border-radius: 50%;
               color: white;
               display: flex;
               align-items: center;
               justify-content: center;
               font-size: 6px;
               font-weight: bolder;
               position: absolute;
               top: -8px;
               right: -8px;
            }
         }
      }
   }
}
