.app.dark {
   html {
      background-color: #222;
   }
   background-color: #222;
   color: rgb(156, 156, 156);
   .chart-grid {
      stroke: rgba(228, 228, 228, 0.219);
   }
   .table {
      background-color: #222;
      .tableCell {
         color: rgb(156, 156, 156);
      }
      .status {
         &.Approved {
            color: rgb(21, 49, 21);
            background-color: rgba(0, 255, 0, 0.789);
         }
         &.Pending {
            color: rgb(77, 63, 9);
            background-color: rgb(255, 200, 0);
         }
         &.Rejected {
            color: rgb(249, 205, 205);
            background-color: rgb(255, 0, 0);
         }
      }
   }
   .navbar {
      color: rgb(200, 200, 200);
      border-color: #333;
      .search {
         border-color: #333;
      }
   }
   .sidebar {
      background-color: #222;
      border-color: #333;
      .top {
         .logo {
            color: #999;
         }
      }
      hr {
         border-color: #333;
      }
      ul {
         li {
            color: #e6e6e6;
         }
      }
   }
   .dataTable {
      .dataGrid {
         color: #e6e6e6;
         border-color: #333;
      }
      .cellWithStatus {
         &.Active {
            color: rgb(14, 58, 14);
            background-color: rgb(18, 216, 18);
         }
         &.Pending {
            color: rgb(72, 59, 9);
            background-color: rgb(255, 200, 0);
         }
         &.Passive {
            color: rgb(246, 241, 241);
            background-color: rgb(255, 0, 0);
         }
      }

      .viewButton {
         color: #e6e6e6;
         border: 1px solid #e6e6e6;
         &:hover {
            border: 1px solid rgba(43, 52, 226, 0.405);
         }
      }
      .deleteButton {
         color: #e6e6e6;
         &:hover {
            color: rgba(220, 20, 60, 0.826);
            border: 1px solid white;
         }
      }
   }
   .link {
      color: #e6e6e6;
   }
   input {
      background-color: transparent;
   }
}
