.app.dark {
   background-color: #222;
   color: rgb(156, 156, 156);
   .chart-grid {
      stroke: rgba(228, 228, 228, 0.219);
   }
   .table {
      background-color: #222;
      .tableCell {
         color: rgb(156, 156, 156);
      }
      .status {
         &.Approved {
            color: rgb(21, 49, 21);
            background-color: rgba(0, 255, 0, 0.789);
         }
         &.Pending {
            color: rgb(77, 63, 9);
            background-color: rgb(255, 200, 0);
         }
         &.Rejected {
            color: rgb(249, 205, 205);
            background-color: rgb(255, 0, 0);
         }
      }
   }
   .navbar {
      color: rgb(200, 200, 200);
      border-color: #333;
      .search {
         border-color: #333;
      }
   }
   .sidebar {
      background-color: #222;
      border-color: #333;
      .top {
         .logo {
            color: #999;
         }
      }
      hr {
         border-color: #333;
      }
      ul {
         li {
            color: #e6e6e6;
         }
      }
   }
}
