.dataTable {
   height: 600px;
   width: 100%;
   display: flex;
   padding: 1rem;

   .data-table-title {
      width: 100%;

      color: gray;
      margin-bottom: 1rem;
      display: flex;
      align-items: center;
      justify-content: space-between;
      .link {
         font-weight: smaller;
         text-decoration: none;
         color: green;
         background-color: rgba(0, 128, 0, 0.215);
         padding: 0.616rem;
         border-radius: 0.313rem;
      }
   }

   .cellWithImg {
      display: flex;
      align-items: center;
      .cellImg {
         width: 32px;
         height: 32px;
         border-radius: 0.25rem;
         margin-right: 0.5rem;
         object-fit: cover;
      }
   }
   .cellWithStatus {
      padding: 0.25rem;
      &.Active {
         color: rgb(8, 142, 8);
         background-color: rgba(8, 142, 8, 0.242);
         width: 100%;
         text-align: center;
         border-radius: 0.25rem;
      }
      &.Pending {
         color: rgb(171, 140, 18);
         background-color: rgba(255, 200, 0, 0.242);
         width: 100%;
         text-align: center;
         border-radius: 0.25rem;
      }
      &.Passive {
         color: rgb(171, 18, 18);
         background-color: rgba(255, 0, 0, 0.242);
         width: 100%;
         text-align: center;
         border-radius: 0.25rem;
      }
   }
   .cellAction {
      display: flex;
      align-items: center;
      gap: 0.75rem;
      .viewButton {
         padding: 3px 15px;
         border-radius: 5px;
         color: rgb(43, 52, 226);
         border: 1px solid rgba(43, 52, 226, 0.405);
         cursor: pointer;
         &:hover {
            background-color: rgba(43, 52, 226, 1);
            color: white;
         }
      }
      .deleteButton {
         padding: 3px 15px;
         border-radius: 5px;
         color: white;
         background-color: rgba(220, 20, 60, 0.826);
         cursor: pointer;
         &:hover {
            background-color: white;
            color: rgba(220, 20, 60, 0.826);
            border: 1px solid rgba(220, 20, 60, 0.826);
         }
      }
   }
}
